@charset "UTF-8";

/*
Pequenas telas: até 600px
Celular: 600px a 768px
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #270364, #7d48da, #ac98cf);
    }

    section{
        width: 750px;
        height: 500px;
    }

    #msg{
        float: right;
        width: 55%;
        height: 100%;
        background-position: bottom right;
    }

    #msg h1{
        font-size: 2.2em;
        text-align: center;
    }

    #msg p{
        text-align: center;
        font-size: 1em;
        margin: 8px;
    }

    #formulario{
        width: 45%;
    }
}


@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #270364, #7d48da,#ac98cf);
    }

    section{
        width: 950px;
        height: 500px;
    }

    #msg{
        float: right;
        width: 60%;
        height: 100%;
        background-position: bottom right;
    }

    #msg h1{
        font-size: 2.5em;
    }

    #msg p{
        text-align: left;
        font-size: 1.5em;
    }

    #formulario{
        float: left;
        width: 40%;
    }

    #box{
        margin: 5px 63px 10px 63px;
    }
}